<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
<title>binjr</title>
<background file="binjr-background.png" mime-type="image/png" alignment="bottomleft"  scaling="none"/>
<license file="LICENSE" mime-type="text/rtf"/>
<pkg-ref id="eu.binjr"/>
<options customize="never" require-scripts="false"/>
<choices-outline>
    <line choice="default">
        <line choice="eu.binjr"/>
    </line>
</choices-outline>
<choice id="default"/>
<choice id="eu.binjr" visible="false">
    <pkg-ref id="eu.binjr"/>
</choice>
<pkg-ref id="eu.binjr" version="1.0.20" onConclusion="none">binjr-app.pkg</pkg-ref>
</installer-gui-script>
