<?xml version="1.0" encoding="utf-8"?>
<!--
  ~    Copyright 2017 Frederic Thevenet
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  ~
  -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="${project.name}"
             Language="1033"
             Version="${bundle.version}"
             Manufacturer="${project.organization.name}"
             UpgradeCode="e39cb23d-5950-4f94-926e-106246cbac12">
        <Package Description="${project.name}"
                 Comments="${project.description}"
                 InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine"
                 Platform="x64"/>
        <Icon Id="icon.ico" SourceFile="${project.name}.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
        <Property Id="ARPHELPLINK" Value="${helpUrl}"/>
        <Property Id="ARPURLINFOABOUT" Value="${project.url}"/>
        <Property Id="ARPURLUPDATEINFO" Value="${releaseUrl}"/>

        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes"/>
        <Upgrade Id="e39cb23d-5950-4f94-926e-106246cbac12">
            <UpgradeVersion Minimum="1.0.0.0" Maximum="10.0.0.0" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no"/>
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallInitialize"/>
        </InstallExecuteSequence>
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes"/>

        <!-- We use RemoveFolderEx to ensure application folder is fully 
             removed on uninstall. Including files created outside of MSI
             after application had been installed (e.g. on AU or user state).
             
             Hovewer, RemoveFolderEx is only available in WiX 3.6, 
             we will comment it out if we running older WiX.

             RemoveFolderEx requires that we "remember" the path for uninstall.
             Read the path value and set the APPLICATIONFOLDER property with the value.
        -->
        <Property Id="APPLICATIONFOLDER">
            <RegistrySearch Key="SOFTWARE\${project.organization.name}\${project.name}"
                            Root="HKLM" Type="raw"
                            Id="APPLICATIONFOLDER_REGSEARCH" Name="Path"/>
        </Property>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="CleanupMainApplicationFolder" Guid="*" Win64="yes">
                <RegistryValue Root="HKLM"
                               Key="SOFTWARE\${project.organization.name}\${project.name}"
                               Name="Path" Type="string" Value="[APPLICATIONFOLDER]"
                               KeyPath="yes"/>
                <!-- We need to use APPLICATIONFOLDER variable here or RemoveFolderEx
                     will not remove on "install". But only if WiX 3.6 is used. -->
                <!--     
                  <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />
                -->
            </Component>
        </DirectoryRef>

        <?include bundle.wxi ?>

        <DirectoryRef Id="dirid7">
            <!--<Component Id="RemoveRuntimeEntry" Guid="08CADF34-E417-4BA9-861B-19622EB1ACD8" Win64="yes">-->
            <!--<CreateFolder/>-->
            <!--&lt;!&ndash;<Condition>&amp;Runtime=2</Condition>&ndash;&gt;-->
            <!--<IniFile Id="IniRemoveRuntimeEntry"-->
            <!--Action="removeLine"-->
            <!--Directory="dirid7"-->
            <!--Section="Application"-->
            <!--Name="binjr.cfg"-->
            <!--Key="app.runtime"/>-->
            <!--</Component>-->
            <Component Id="AddRuntimeEntry" Guid="F00C41C2-AEF0-4F58-B28D-673A1F1D94D6" Win64="yes">
                <CreateFolder/>
                <IniFile Id="IniAddRuntimeEntry"
                         Action="addLine"
                         Directory="dirid7"
                         Section="Application"
                         Name="binjr.cfg"
                         Key="app.runtime"
                         Value="$APPDIR\runtime"/>
            </Component>
        </DirectoryRef>
        <Feature Id="binjrRoot"
                 Level="1"
                 ConfigurableDirectory="APPLICATIONFOLDER"
                 Title="binjr"
                 TypicalDefault="install"
                 Absent="disallow"
                 AllowAdvertise="no"
                 Description="binjr, a time series visualization tool."
                 InstallDefault="local"
                 Display="expand">
            <!--<ComponentRef Id="RemoveRuntimeEntry"/>-->
            <ComponentRef Id="CleanupMainApplicationFolder"/>
            <Feature Id="AppFiles"
                     Level="1"
                     Title="Application Files"
                     TypicalDefault="install"
                     Absent="disallow"
                     AllowAdvertise="no"
                     Description="Core application files for binjr."
                     InstallDefault="local"
                     Display="expand">
                <ComponentRef Id="comp0"/>
                <ComponentRef Id="comp1"/>
                <ComponentRef Id="comp2"/>
            </Feature>
            <Feature Id="Runtime"
                     Level="1"
                     Title="Runtime"
                     TypicalDefault="install"
                     Absent="allow"
                     AllowAdvertise="no"
                     Description="A private copy of the Java Runtime Environment, used exclusively by binjr."
                     InstallDefault="local"
                     Display="expand">
                <ComponentRef Id="comp3"/>
                <ComponentRef Id="comp4"/>
                <ComponentRef Id="comp5"/>
                <ComponentRef Id="comp6"/>
                <ComponentRef Id="comp7"/>
                <ComponentRef Id="comp8"/>
                <ComponentRef Id="comp9"/>
                <ComponentRef Id="comp10"/>
                <ComponentRef Id="comp11"/>
                <ComponentRef Id="comp12"/>
                <ComponentRef Id="comp13"/>
                <ComponentRef Id="comp14"/>
                <ComponentRef Id="comp15"/>
                <ComponentRef Id="comp16"/>
                <ComponentRef Id="comp17"/>
                <ComponentRef Id="AddRuntimeEntry"/>
            </Feature>
        </Feature>


        <WixVariable Id="WixUIBannerBmp" Value="..\images\Install_Banner.jpg"/>
        <WixVariable Id="WixUIDialogBmp" Value="..\images\Install_Splash.jpg"/>

        <!--<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER"/>-->
        <!--<UIRef Id="WixUI_InstallDir"/>-->

        <UIRef Id="WixUI_Mondo"/>

        <Icon Id="DesktopIcon.exe" SourceFile="${project.name}.ico"/>
        <Icon Id="StartMenuIcon.exe" SourceFile="${project.name}.ico"/>

    </Product>
</Wix>
