.idea
*.iml

/binjr/target/
/binjr/dependency-reduced-pom.xml
/log4j2.xml
/binjr/src/main/deploy/package/windows/binjr.wxs
binjr.log
binjr/src/main/deploy/package/macosx/
binjr/src/main/java/eu/fthevenet/binjr/sources/github/
launcher/
out/
