env:
  global:
  - BINJR_BUILD_NUMBER=$TRAVIS_BUILD_NUMBER
  - CURRENT_BRANCH=$TRAVIS_BRANCH
  - secure: sH9fhG7xsKMVf3vnFNH8bM902hG+AGLooDB0ZNBiTYl7/8VvmJxDKDNI+dMsf/xiZZdaS02uvAXOlVHaaGDeAlVz7wV24chcsTkxWmBqguMS/BSLrepM3Luucf0lhw5X4KAxGnyhmJKShM0+3Rh1FyCUWL7DO9vxJpTQYzR9wQ85+ta3+QHSa4i5Fa7tKgHJBj3q22FNPS8QT/4RCNor1AFERuBJaGXO1hAPaBUHA//lrPZJM/xP7VsM7aYRoLTZxL0ZtSS45VRFqmlf16I6Q/ATATSO786SsMFVOcuvVyi2UwsBivCZbEQGcct3YHDk5jj4MgDePD+FsNjmLhLGt/Wvx0peqwhuMTfcNC6otCVqmOrCoL4GbtYengllFkHqymzt+KQMNQ+AmWjorpb7Fl2JwmF9f2pPt3g7aFiDX/pJDWHOoi/XEFp6ppOwg6zsbb4wcwI8u7aX6Yuy1IkZg6jFfNibTV0u4XWGInxI1RsiSxvYdGiNkJgJdBkwcGr3m2j0HO6uP4iYZQIIkkVHhWZO84wm5V5wIfH8SE9oukVAjlu+msrAwjMVTjsjWxYWf/jelyMxl8bM3s5+cVGDmnuKgVOdvehWS10ltYhsSUoX7BpVscZ8g2538YeU+V9p1qZG5HEAmqezr1/XK3+liCW55ru0KCDZ0JyKtCQXJV4=
  - secure: nBONte2+/5CdL1thPN+MGV2qEvmG3e0LuiJBsK8XZOqAGWV2/hz3TPLCQOTM18kZYzcmcVHu24kJSGGC4ZerTXlRt3IxE+/j8VObzW3CB0HM2dYKULxr1qobWx/0Ob+fM/Cbmicf+XsPL/fmMi35jjt0OboyA8ZEgsJgPqro6HyKdeoBEfUQNN3McRXxHDB1BEeNEZgYlh090wHs+PpAodGI672CL8zdwZsOzix+Lym65PiC+kZ7lVwdD6osGx/wjxWP6FavYbIyd4qf4OzwsKD53rUgV59AYG61i2cOrC7dQTVxk/ybBCSlG9CNHMqhJMu1lMz01OXiOPFUAGAEj2xkA6lE7G6mIfCHVvrCaZCNdHRiCtY2tkm0HXgllOwOQjs/wNlOEAsSDht+QTTBcejYuecl3yaEEbxyglcs5Kj/iwFOpysLuIutkaS83Ob6cTWIxMUql1jnWiZg1BiKRof0Opt3ZcjwWmP7UiZWsrIUEO6A4rLViHIq8CiU0zziYXnq5UUFvwIslz4p9ioAMUB5ld/icWf97KOwFWpOMXAeVOBCOEZ6xQOEkYV6IZVKeViF45Kj655Bmm6OPvAIDOoJvX/p9lIdDFZSMoHwTs5VGnN92DOdB+cE+nsdlnu2JrXFyLG0duQInvfBuy8uUtTBODR8o9tV246dD7mLOJo=
  - secure: r1lB2M5+zEcnOehZVcgqn6/EPvUWAhzfrM7px0Df88xI4PqQofNZ3UwTWKcjRstaAt35dTbKBOpY3TkmdTTHIV69BN/P9y4a8hXyTE+SWLO2frJvuqqm6uByjllT8XMEdCA8a4Zza/p+68yEjWMTc6AtG/9aBPt91k4CFrL5gla8d/9iwaTSiA1996w9p76Jf7aDYTr+QaQdmBGrDC88PMlce6UDePm6nRc6r6F9rePleCchAUQVlbS1JeHsP26MQSycBhfIGxnYm1DVBQ79ckFFJRGhBH9yPkCnRvJbohpB34lD/uYbh9Y8H2l4v2DOf8wfcGwKhs/kYsZQ5wsks8L6Tiiszk6FcvxOxY6BSGklO+tIToiLUxDGY1WF3aJOcwzQ4U+u8AoMDk5lvk0sg5EZ9gLvCsKkQttGBU/hBhFzWtCQn+g2oK9JUdvmM89qDhMPVLbQK3rLJhEDijjtM3bP82wODzhAhcigGAOY1nNwXyq8jtquI3P6WhJMyVTAAnJsk+BV4gcjM42lsGPTlqbUxtbD08x+LwJLqQe9l4kADpAPap2eWMeG1cZprksbDn3Oc7oRdmiVj1Mcn7l7JpfQl1N/hAtKPiejz6s24bG8Hs0gMiYKb1xSR0Q4N3x3y/jFo77cWF4bck9deJetvHYBrccilbo4AVtgn19WF1I=
  - secure: UB8M14NlBswcF887PU0ybnAcfNRzGD5HWcQqrt9U9P6DfrqxommkKuCqMkAd9kkQ4lRyWndewq6wMlRWIdhXtvU3awEXukkn1VYyAChukdUdI3JpzI2Z8ysgBr8ABJ7eNHtHdtNk1sJDpZ9akZkk69dKo9zAq74ytSCvWJlkjHmHTyl/o8RERWXUSWAxIs4ekCLlM6EsLPaG/dTz4644ZlnL56Uio/RDz6s98Efi5sU2MCO/twZR6WoJSvoGLkBkJogwrJmZuePxb5zzHWHH6tXa1fztg540kPHYP15Z2coGFdiKW2ckvGx4LJD9aigKNfNAu/xNLqhX02oKYIa511HvapCnoRgm6zSCeKC0GY+l5FTp89uw/oWq6PW4QXfAp1rFC9pIFQp3OKneppFNo46+fpmdvypLW6HKyIE+NFTQvhJUa8pW90jnxaNoyCPt9aSHctkca9TL8PeyCLccCdqNw86OCP/nnomKq6redYPNEnDqNdIqyWorYB+85fgkHyUZZQVNsNSCRcLON/u7EdVRvR1qI/CFMGM/RvsEYomAf+fi/OVcaSEBWPhXlRuoL8fg05fdrdJ0q5dWMNCJ7dsIiZFyTIt+AdWtXZgeHPTKRSQrW0wcEuvgkfd2DmGVWDdr0t6UYSkPzppYycnj1kkb+aMvSRps3PCRqHrXTKE=
  - secure: SPIhofarBUpTOvNtFJSuCbWuCtgcaYDSeAsZvMgEuU+VcQiLKvFOwLn/6FVRL/6OgWwvyrhLfGf8OJN19SFbs9smpC2ETH2rJBCm3HeOYV6HMRh9Ki9JzkFDhmRAkz2HNKMlIlEN5T7dY0Msf8+ZVpzKoywsVmSIgezBPMjy/GKNaXHG82WRyy0st+7t5dgh7pfZIhpBNHJA1AvMkbZ6L283Zc3sco0MNFECGZoWdX4JIxkutBHrcBYLcRlUkk9tytH97+kHTv7DLOEkYC6fMti/M+RKKy1LCCBhwC+kymZDOxomXn8NEJ+fV9LNOTCpo8kXRO4uBuAfcGoge7DwpBmZf2pj45F5wqLO7rCtdxAGSXdFF5hZLw0E2nAfII3TBrj8bTLT77vwemzIL0odEMFoWiccbBe6tr1ZxAP8ODf9E+pVQN3jnKwuZZA4b2u3sTq4wNybqDzmL82qmQhDebDoBQUVIWrmvQl80FXPDY5qkCNFoq2bsib56r+wRPYftxiz19w8sM1F0UuqrUy4S0XiRcYdzTtXvuI+IEhuvhYlZfi6BIXft9UEvpdrAv9NrjOKLPaUqpF8nYoqu2rTyCGBeFwx9Hpf8yXO6ytCTA/gD7sGI1P5MpcqxqvhZ09lvWyJIea5msWfxgfqImB+HcWkYVN5HL1cjUoRJ6jteVU=

language: java
install: true
jdk: openjdk11

matrix:
  include:
  - os: linux
    if: branch = master
    script:
    - gpg --fast-import ./ci/codesigning.asc
    - chmod +x gradlew
    - ./gradlew publish  githubRelease
  - os: linux
    if: branch = release
    script:
    - gpg --fast-import ./ci/codesigning.asc
    - chmod +x gradlew
    - ./gradlew publish githubRelease
  - os: osx
    if: branch = master
    script:
    - chmod +x gradlew
    - ./gradlew  githubRelease
  - os: osx
    if: branch = release
    script:
    - chmod +x gradlew
    - ./gradlew githubRelease