language: java

matrix:
  include:
    - os: "linux"
      sudo: false
      jdk: oraclejdk8
      addons:
        apt:
          packages:
          - oracle-java8-installer
          - fakeroot
          - rpm
    - os: "osx"
      if: env(TRAVIS_COMMIT_MESSAGE) =~ *osx*
      osx_image: xcode8.3


env:
  global:
  - BINJR_BUILD_NUMBER=$TRAVIS_BUILD_NUMBER
  - secure: sH9fhG7xsKMVf3vnFNH8bM902hG+AGLooDB0ZNBiTYl7/8VvmJxDKDNI+dMsf/xiZZdaS02uvAXOlVHaaGDeAlVz7wV24chcsTkxWmBqguMS/BSLrepM3Luucf0lhw5X4KAxGnyhmJKShM0+3Rh1FyCUWL7DO9vxJpTQYzR9wQ85+ta3+QHSa4i5Fa7tKgHJBj3q22FNPS8QT/4RCNor1AFERuBJaGXO1hAPaBUHA//lrPZJM/xP7VsM7aYRoLTZxL0ZtSS45VRFqmlf16I6Q/ATATSO786SsMFVOcuvVyi2UwsBivCZbEQGcct3YHDk5jj4MgDePD+FsNjmLhLGt/Wvx0peqwhuMTfcNC6otCVqmOrCoL4GbtYengllFkHqymzt+KQMNQ+AmWjorpb7Fl2JwmF9f2pPt3g7aFiDX/pJDWHOoi/XEFp6ppOwg6zsbb4wcwI8u7aX6Yuy1IkZg6jFfNibTV0u4XWGInxI1RsiSxvYdGiNkJgJdBkwcGr3m2j0HO6uP4iYZQIIkkVHhWZO84wm5V5wIfH8SE9oukVAjlu+msrAwjMVTjsjWxYWf/jelyMxl8bM3s5+cVGDmnuKgVOdvehWS10ltYhsSUoX7BpVscZ8g2538YeU+V9p1qZG5HEAmqezr1/XK3+liCW55ru0KCDZ0JyKtCQXJV4=
  - secure: X37P+GADtAv3cx/Dv4DEZzEJXuINuAIZzmWIChKGTOZgmj+Cyb872bxVbzncrf7n2i5fCcZxlf4K60ti3u2Iy5LHRmoEGJl9v1Vi8FQLhxcG9nSblIxnhyxxTmmRW/kgWxS210Mkp2bEgcFDpO0qZLqCB0nWB+yIoYnzoy+qUOQjbTZDlili/dAgX0ocf2yWINoBRVwJ9kNXkAndYBizU/8X8WWr3gOaIdGy9T1/21x9Y8659iJYwySMqg2DF6V9Km9mgl21vnX0/q+P8uTFJ5WzBXrTSyxwlLBuiC+wuLKWXI8nhlUV/mcGZe3DqTIdSALj9F4rXvtWx7nI78ItfTlQNecJfm9p4QbTPAj/29tsfIeURieeQdLa1iQTG/Tq6GMG1KjnCZM3iYyTFE4pmyLjfqo5gNsxS/wuHkC9QctvpKb4mO9Ywqx1G4P2ioMWPBB8Pao7gN15z95eUyd0uKT6zXzHTO0ru6dXEyTcsb2fDEQiNGqA/NL3ZWRNfdE/zqrOUKR/rZUT3eIqKJEUylKi7YM/7Gm7c3EM7NWfPY3O3P2NRhytYpbVeMOzRjTkcaycIZAhaLJEhi9SRGCiBftrHI9lxszKEaiDKoaJmFoznThxzN1W63tiLt5MLb8ausQyvuiFSib6XiEO1PtSFOEw9/Iv4JX7ZI5A7snJMaA=
  - secure: mLWJKtKh/igIw3m3Gf7juNt63EIsDOVHasRGb7Q13egvmqTHm40IjAlAmSGlwFqiYAdhAB8wPrZ3APnWIl8NkX5wA0sNwxrGRCQywu0fvgWLqSj53xhttBAv88fgut/x/dkw+KnLd/IHWZr6e5gVI0xdM05VsH3phnVCvcCNnE+nLf7sqEC6FYb90zKqEAHZElU07Vr6vLkcaOTJ8LuFXRqXJJhCbTgf+pmhENSMM5WjPPc7RgYrCXfLuJqihRWbN6IoyWbPl340DFxvuC2i2E3hbLQ7i3IoTQXzgludtt8Cd1b8QWdjmnQLLgQC0oss5+oIkh1Ym4UG+wyX54+DWRgCvysCFKfN3gxDC67ApZAfmnCa5wz+PFmbNd71GlieDbat0tGxAi4gaDWN3kzp03eLYOVpNkJybMI0zH8tqxAy5/ESiQ6yyZYF2ECvM128T8ybdB9cy0ZOaC36sViH27XisxdpPoyhLQBHEVASX1ePrQDogxjjsGqdfwZaJeoVYC7jVL0nezAYz9BIz+pweAo4pKXUJGMSET/tXW218cDVHe2pyAxEjA8YfgbdoCWr9xhGNSXRJi7ERlNXnt7nd61qewkVnAslQz1mlEMrtihtuxe9CbaoF4Lj4hkpg3FWbWRsOZaFpXsECmI3NHJgqB9rCxS7JRTGjqM+G39ffn0=
branches:
  only:
  - master

before_install: git clone -b travis `git config --get remote.origin.url` binjr/target/travis

script: "./binjr/scripts/build.sh"

