{
    -binjr-background-color: #204656;
    -binjr-dark-blue-color: #336F87;
    -binjr-blue-color: #4BACC6;
    -binjr-light-blue-color: #92CDDC;
    -binjr-lighter-blue-color: #B7DEE8;
    -binjr-foreground-color:  #DAEEF3;
    -fx-background-color:  transparent;
  /*  -fx-base: -binjr-background-color;*/
}
.text{
    -fx-font-smoothing-type: lcd;
}

.content,
.about-text-view,
.scroll-pane,
.titled-pane,
.title,
.web-view,
.table-row-cell,
.root {
    -fx-background-color: -binjr-background-color;
}

.table-row-cell:selected {
    -fx-background-color: -binjr-blue-color;
}

.table-row-cell:selected * {
    -fx-text-fill: white;

}
/*
.arrow {
    -fx-background-color: -binjr-foreground-color;

    -fx-shape:"m 80.512719,84.877147 c 0.04221,0.0422 0.09346,0.0633 0.153747,0.0633 0.06029,-3e-6 0.111536,-0.02111 0.153749,-0.0633 l 1.754534,-1.754535 c 0.04221,-0.04221 0.0633,-0.09345 0.0633,-0.153748 -3e-6,-0.06029 -0.02111,-0.111548 -0.0633,-0.153748 l -0.198968,-0.208012 c -0.04221,-0.04221 -0.09345,-0.0633 -0.153748,-0.0633 -0.0603,0 -0.111547,0.02111 -0.153748,0.0633 l -1.401819,1.392775 -1.401818,-1.392775 c -0.04221,-0.04221 -0.09345,-0.0633 -0.153748,-0.0633 -0.06029,0 -0.111548,0.02111 -0.153747,0.0633 l -0.198969,0.208012 c -0.04221,0.04221 -0.0633,0.09346 -0.0633,0.153748 0,0.06029 0.02111,0.111547 0.0633,0.153748 z";

    -fx-effect: null;
}

*/
.titled-pane > .title > .arrow-button .arrow {
    -fx-shape:"m 80.512719,84.877147 c 0.04221,0.0422 0.09346,0.0633 0.153747,0.0633 0.06029,-3e-6 0.111536,-0.02111 0.153749,-0.0633 l 1.754534,-1.754535 c 0.04221,-0.04221 0.0633,-0.09345 0.0633,-0.153748 -3e-6,-0.06029 -0.02111,-0.111548 -0.0633,-0.153748 l -0.198968,-0.208012 c -0.04221,-0.04221 -0.09345,-0.0633 -0.153748,-0.0633 -0.0603,0 -0.111547,0.02111 -0.153748,0.0633 l -1.401819,1.392775 -1.401818,-1.392775 c -0.04221,-0.04221 -0.09345,-0.0633 -0.153748,-0.0633 -0.06029,0 -0.111548,0.02111 -0.153747,0.0633 l -0.198969,0.208012 c -0.04221,0.04221 -0.0633,0.09346 -0.0633,0.153748 0,0.06029 0.02111,0.111547 0.0633,0.153748 z";
  -fx-background-color: -binjr-foreground-color;
     -fx-padding: 4 5;
 }

 .titled-pane:focused > .title > .arrow-button .arrow {
    -fx-effect:null;

}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-insets: 0;
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-effect: null;
}

.accordion > .first-titled-pane > .title {
    -fx-background-insets: 0;
}

.about-text{
    -fx-text-fill:  -binjr-light-blue-color;
    -fx-font-size: 11pt;
}

.titled-pane {
    -fx-border-size:0;
    -fx-text-fill: -binjr-foreground-color;
    -fx-font-size: 14pt;
}


.about-text-view,
.web-view,
.table-view,
.cell,
.content {
    -fx-border-size:0;
    -fx-text-fill: -binjr-foreground-color;
    -fx-font-size: 9pt;
    -fx-font-weight:normal;
  }


/*******************************************************************************
  *                                                                             *
  * ScrollBar                                                                   *
  *                                                                             *
  ******************************************************************************/

 .scroll-bar > .thumb{
     -fx-background-color: -binjr-lighter-blue-color;
     -fx-background-insets: 0;
     -fx-background-radius: 0;
 }



/*
.scroll-bar .thumb:hover {
     -fx-background-color: -binjr-blue-color;
}

 .scroll-bar > .thumb:pressed {
     -fx-background-color: -binjr-background-color;
 }
*/
 .scroll-bar > .track {
     -fx-background-color: -binjr-background-color;
     -fx-background-insets: 0;
     -fx-background-radius: 0;
     -fx-border-size:0;
 }
 .scroll-bar > .track-background {
     -fx-background-color: -binjr-background-color;
     -fx-background-insets: 0;
 }

 .scroll-bar > .increment-button,
 .scroll-bar > .decrement-button {
     -fx-background-color: -binjr-background-color;
     -fx-background-insets: 0;
     -fx-background-radius: 0;

     -fx-padding: 0.25em;
 }
/*
 .scroll-bar > .increment-button:hover,
 .scroll-bar > .decrement-button:hover  {
     -fx-background-color: -binjr-foreground-color;
 }

.web-view  .scroll-bar .increment-button:pressed,
 .scroll-bar > .increment-button:pressed,
 .scroll-bar > .decrement-button:pressed {
     -fx-background-color: -binjr-blue-color;
 }*/

 .scroll-bar > .decrement-button > .decrement-arrow,
 .scroll-bar > .increment-button > .increment-arrow{
     -fx-background-insets: 1 0 -1 0, 0;
     -fx-background-color: transparent, -binjr-foreground-color;
     -fx-effect: null;
 }
/*
 .scroll-bar > .decrement-button:pressed > .decrement-arrow,
 .scroll-bar > .increment-button:pressed > .increment-arrow {
     -fx-background-color: transparent, white;
     -fx-effect: null;
 }*/

 .scroll-bar:vertical > .increment-button > .increment-arrow,
 .scroll-bar:vertical > .decrement-button > .decrement-arrow {
     -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
 }

 .scroll-bar:horizontal > .increment-button > .increment-arrow,
 .scroll-bar:horizontal > .decrement-button > .decrement-arrow {
     -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
 }


.scroll-bar * {
    -fx-padding:1;
}

 .scroll-bar:disabled {
     -fx-opacity: 0.4;
 }

 .button{
    -fx-text-fill: -binjr-foreground-color;
    -fx-background-color: -binjr-blue-color;
    -fx-border-color: -binjr-blue-color;
    -fx-border-width:2;
    -fx-border-radius:0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
 }

.button:hover{
     -fx-border-color:  -binjr-background-color;
 }

.button:pressed,
.button:default:hover:pressed {
     -fx-background-color:-binjr-background-color;
     -fx-border-color: -binjr-background-color;
     -fx-text-fill: -binjr-foreground-color;
 }

.skinnable-pane-border * {
    -fx-border-width:0;
}


.hyperlink:focused {
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}


