{
    -binjr-background-color: #204656
;
    -binjr-pane-background-color: white
;
    -binjr-control-border-color: #333333
;
    -binjr-dark-blue-color: #336F87
;
    -binjr-blue-color: #4BACC6
;
    -binjr-light-blue-color: #92CDDC
;
    -binjr-lighter-blue-color: #B7DEE8
;
    -binjr-foreground-color: #DAEEF3
;
    -binjr-warning-color: tomato
;
    -fx-accent-translucide: rgba(183, 222, 232, 0.2)
;

}

/********************************
*      button icons
********************************/
{
    -icon-scale-x: 3
;
    -icon-scale-y: 3
;
/*-icon-color:black;*/
}

.command-bar * {
    -icon-scale-x: 2.5;
    -icon-scale-y: 2.5;
    /* -icon-color: black;*/
}

.command-bar .context-menu * {
    -icon-scale-x: 2.5;
    -icon-scale-y: 2.5;
}

.command-bar .icon-container {
    -fx-padding: 10;
}

.menu-button .arrow-button {
    -fx-padding: -2;
    visibility: hidden;
}

.add-tab-button {
    -size: 20;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-content-display: graphic-only;
    -fx-padding: 5;
}

.command-bar-menu-graphic {
    -fx-padding: 2;
}

.command-bar-menu-graphic Line {
    -fx-stroke: black;
}

.chart-properties-button {
    -fx-opacity: 50%;
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}

.chart-properties-button:hover {
    -fx-opacity: 100%;
}

.chart-properties-button:hover:pressed {
    -fx-opacity: 100%;
}

.toolPane {
    -fx-background-color: linear-gradient(to right, #EEEEEE, #DADADA);
    /*  -fx-border-width:1;
      -fx-border-color:#DADADA;*/
}

.toolPane .content,
.toolPane .title,
.toolPane .scroll-pane,
.toolPane .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.add-source-background-icon,
.add-worksheet-background-icon {
    -fx-text-fill: #DADADA;
}


.add-source-background-icon:hover,
.add-worksheet-background-icon:hover {
    -fx-text-fill: #C2C2C2;
}

.add-worksheet-background-icon .addWorksheet-icon,
.add-source-background-icon .addSource-icon {
    -fx-scale-x: 20;
    -fx-scale-y: 20;
    -fx-background-color: #DADADA;
}

.add-worksheet-background-icon .addWorksheet-icon:hover,
.add-source-background-icon .addSource-icon:hover,
.add-worksheet-background-icon .addWorksheet-icon:hover:pressed,
.add-source-background-icon .addSource-icon:hover:pressed {
    -fx-background-color: #969696;
}

/*******************
  Command bar
*******************/

.command-bar {
    /*  -fx-pref-width: 48;
      -fx-min-width: 48;*/
    -fx-padding: 5;
    -fx-background-color: linear-gradient(to right, #EEEEEE, #DADADA); /* #F4F4F4;*/
    /*
        -fx-border-width:1;
        -fx-border-color: #C2C2C2;*/
}

.command-bar:expanded {
    /*  -fx-min-width: 160;
     /*  -fx-pref-width: 200;
       -fx-max-width: 200;*/
}

.horizontal-separator {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -binjr-control-border-color;
}


.command-bar .menu-button .arrow-button {
    -fx-padding: -2;
    visibility: hidden;
}

.command-bar .command-bar-menu-button .menu-icon {
    -fx-fill: red;
    -fx-scale-x: 3;
    -fx-scale-y: 3.5;
}

.command-bar:expanded .menu-button .arrow-button {
    -fx-padding: 10;
    -fx-fill: white;
    visibility: visible;
}

.command-bar:expanded .menu-button .arrow-button .arrow {
    -fx-background-color: black;
}

.command-bar:expanded .menu-button .label,
.command-bar:expanded .button {
    -fx-margins: 5;
    -fx-content-display: left;
}

.command-bar .menu-button .label,
.command-bar .button {
    -fx-alignment: center_left;
    -fx-graphic-text-gap: 15;
    -fx-text-fill: black;
}

.command-bar .square-button {
    -fx-alignment: center;
}

.command-bar .menu-item {
    -fx-padding: 10 10 10 17;
}

.command-bar .hyperlink {
    -fx-alignment: center_left;
    -fx-graphic-text-gap: 20;
    -fx-text-fill: -binjr-blue-color;

    -fx-font-size: 10pt;
}

/*** Color picker ***/

.borderless-color-picker {
    -fx-color-label-visible: false;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-alignment: center;
}

.borderless-color-picker .label {
    -fx-padding: 0;
}

.borderless-color-picker .label .rectangle {
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-alignment: center;
}


.popup-control-parent {
    -fx-background-color: white;
    -fx-border-width: 1;
}

.chart-viewport-parent {
    -fx-background-color: white;
}

.worksheet-tool-bar {
    -fx-padding: 5;
    -fx-spacing: 5;
}

.title-pane-tool-bar {
    -fx-spacing: 3;
}


/*******************************************************************************
 *                                                                             *
 * MaskerPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.binjr-loading-pane .binjr-logo-view {
    -fx-opacity: .8;
}

.binjr-loading-pane:loading {
    -fx-background-color: rgba(255, 255, 255, .6);
}
.masker-pane {
}

.canvas-masker-pane,
.masker-pane .masker-glass {
    /* -fx-background-color: rgba(0, 0, 0, .3);*/
    -fx-background-color: rgba(255, 255, 255, .6);
    /* -fx-background-color: transparent;*/
}

.masker-pane .masker-text {
    -visibility: false;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.masker-pane .masker-center {
    -fx-background-color: transparent;
    /*  -fx-background-color: rgba(255, 255, 255, .6);
   /*  -fx-background-color: rgba(0, 0, 0, .6);*/

    -fx-max-height: 1.50in;
    -fx-padding: .25in;
    -fx-background-radius: .1in;
}

.crosshair-axis-label {
    -fx-text-fill: white;
    -fx-font-size: 10;
    -fx-background-radius: 4;
    -fx-padding: 4;
    -fx-background-color: rgba(10, 10, 10, 0.7);
}


.pagination-popup,
.interval-picker-popup {
    -fx-background-color: linear-gradient(to bottom,
    derive(-fx-color, -17%),
    derive(-fx-color, -30%)
    ),
    -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0.083333em; /* 1 1 1 1 */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}

.tooltip {
    -fx-font-size: 9pt;
}

.search-field-outer {
    -fx-background-radius: 0, 0;
    -fx-border-color: #bababa;
    -fx-background-color: white;
    -fx-background-insets: 0, 1;

    -fx-prompt-text-fill: #9f9f9f;

    -fx-highlight-fill: -binjr-blue-color;
    -fx-highlight-text-fill: white;
}

/******************************
/* RichText
/*****************************/

.styled-text-area {
    -fx-background-color: -binjr-pane-background-color;
}


.styled-text-area .main-selection {
    -fx-fill: -binjr-lighter-blue-color;
}


/*!* the width of the border around a section of text *!*/
/*-rtfx-border-stroke-width: <size>;*/

/*!* the type of the border around a section of text *!*/
/*-rtfx-border-stroke-type: [inside | outside | centered];*/

/*!* the border's dash lengths: allows dot/dash style borders *!*/
/*-rtfx-border-stroke-dash-array: <size>[ <size>]+;*/

/*    !* the color of the underline *!*/
/*-rtfx-underline-color: <paint>;*/

/*!* the width of the underline *!*/
/*-rtfx-underline-width: <size>;*/

/*!* the underline's dash lengths: allows dot/dash style lines *!*/
/*-rtfx-underline-dash-array: <size>[ <size>]+;*/

/*    !* the StrokeLineCap to use: [ square | butt | round ] */
/*       defaults to "square" *!*/
/*-rtfx-underline-cap: <stroke-line-cap>;*/
/*}*/

.styled-text-area .lineno .text {
    -fx-fill: #237893;
}

/* default text styling */
.styled-text-area .text {
    -fx-fill: white;
}

.styled-text-area .text {
    -fx-fill: dimgrey;
}

.styled-text-area .tagmark {
    -fx-fill: #800000;
}

.styled-text-area .anytag {
    -fx-fill: #800000;
}

.styled-text-area .paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.styled-text-area .attribute {
    -fx-fill: red;
}

.styled-text-area .avalue {
    -fx-fill: blue;
}

.styled-text-area .comment {
    -fx-fill: #008000;
}

.syntax-help-popup {
    -fx-effect: null;
    -fx-border-with: 1;
    -fx-border-color: -binjr-control-border-color;
    -fx-border-radius: 0;
    -fx-background-color: #F4F4F4;
}


/***** LOG SEVERITY *************************************************************/
.facet-pill {
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 15;
    -fx-background-color: #00000050;

    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 0.5;
    -fx-border-radius: 15;
}

.facet-pill .box {
    -fx-border-width: 0.5;
}

.facet-pill:selected .box .mark {
    -fx-border-width: 0;
}

/**** Lookup colors ****/
{
    -trace-color: #808080
;
    -debug-color: STEELBLUE
;
    -perf-color: #268f69
;
    -info-color: black
;
    -unknown-color: black
;
    -warn-color: DARKORANGE
;
    -error-color: red
;
    -fatal-color: DARKRED
;
}
/**** TRACE ****/
.facet-pill-trace,
.facet-pill-trace .box {
    -fx-background-color: derive(-trace-color, 80%);
    -fx-text-fill: derive(-trace-color, -20%);
    -fx-border-color: derive(-trace-color, -20%);
}

.facet-pill-trace:selected .box .mark {
    -fx-background-color: derive(-trace-color, -20%);
}

.styled-text-area .trace,
.log-trace {
    -fx-fill: -trace-color;
}

/**** DEBUG ****/
.facet-pill-debug,
.facet-pill-debug .box {
    -fx-background-color: derive(-debug-color, 80%);
    -fx-text-fill: derive(-debug-color, -20%);
    -fx-border-color: derive(-debug-color, -20%);
}

.facet-pill-debug:selected .box .mark {
    -fx-background-color: derive(-debug-color, -20%);
}

.styled-text-area .debug,
.log-debug {
    -fx-fill: -debug-color;
}

/**** PERF ****/
.facet-pill-perf,
.facet-pill-perf .box {
    -fx-background-color: derive(-perf-color, 80%);
    -fx-text-fill: derive(-perf-color, -20%);
    -fx-border-color: derive(-perf-color, -20%);
}

.facet-pill-perf:selected .box .mark {
    -fx-background-color: derive(-perf-color, -20%);
}

.styled-text-area .perf,
.log-perf {
    -fx-fill: -perf-color;
}

/**** INFO ****/
.facet-pill-info,
.facet-pill-info .box {
    -fx-background-color: derive(-info-color, 80%);
    -fx-text-fill: derive(-info-color, -20%);
    -fx-border-color: derive(-info-color, -20%);
}

.facet-pill-info:selected .box .mark {
    -fx-background-color: derive(-info-color, -20%);
}

.styled-text-area .info,
.log-info {
    -fx-fill: -info-color;
}

/**** UNKNOWN ****/
.facet-pill-unknown,
.facet-pill-unknown .box {
    -fx-background-color: derive(-unknown-color, 80%);
    -fx-text-fill: derive(-unknown-color, -20%);
    -fx-border-color: derive(-unknown-color, -20%);
}

.facet-pill-unknown:selected .box .mark {
    -fx-background-color: derive(-unknown-color, -20%);
}

.styled-text-area .unknown,
.log-unknown {
    -fx-fill: -unknown-color;
}

/**** WARN ****/
.facet-pill-warn,
.facet-pill-warn .box {
    -fx-background-color: derive(-warn-color, 80%);
    -fx-text-fill: derive(-warn-color, -20%);
    -fx-border-color: derive(-warn-color, -20%);
}

.facet-pill-warn:selected .box .mark {
    -fx-background-color: derive(-warn-color, -20%);
}

.styled-text-area .warn,
.log-warn {
    -fx-fill: -warn-color;
}

/**** ERROR ****/
.facet-pill-error,
.facet-pill-error .box {
    -fx-background-color: derive(-error-color, 80%);
    -fx-text-fill: derive(-error-color, -20%);
    -fx-border-color: derive(-error-color, -20%);
}

.facet-pill-error:selected .box .mark {
    -fx-background-color: derive(-error-color, -20%);
}

.styled-text-area .error,
.log-error {
    -fx-fill: -error-color;
}

/**** FATAL ****/
.facet-pill-fatal,
.facet-pill-fatal .box {
    -fx-background-color: derive(-fatal-color, 80%);
    -fx-text-fill: derive(-fatal-color, -20%);
    -fx-border-color: derive(-fatal-color, -20%);
}

.facet-pill-fatal:selected .box .mark {
    -fx-background-color: derive(-fatal-color, -20%);
}

.styled-text-area .fatal,
.log-fatal {
    -fx-fill: -fatal-color;
}

/****************************************************************************/

.busy-indicator {
    -fx-background-color: rgba(255, 255, 255, .6);
}

.busy-indicator .title-frame {
    -fx-background-radius: 8;
    -fx-background-color: rgba(160, 160, 160, .8);
}