.command-bar .command-bar-pinned-item {
    -fx-content-display: graphic-only;
}

.command-bar:expanded .command-bar-pinned-item {
    -fx-content-display: left;
}

.command-bar .context-menu .icon-container {
    -fx-padding: 0 14 0 8;
}

.context-menu .icon-container {
    -fx-padding: 0 14 0 8;
}

.context-menu * {
    -icon-scale-x: 2.5;
    -icon-scale-y: 2.5;
}

.tool-bar {
    -fx-padding: 0;
    -fx-background-color: none;
}

.tool-bar-overflow-button {
    -fx-padding: 12, 0, 0, 0;
}

.selection-marker {
    -fx-background-color: transparent;
}

.selection-marker:selected {
    -fx-border-width: 0 0 0 4;
    -fx-border-color: -fx-accent;
}

.selection-marker:selected:hover,
.selection-marker:hover {
    -fx-background-color: -fx-accent-translucide;
}

.drop-zone {
    -fx-border-insets: 5;
    -fx-background-color:  -binjr-pane-background-color;
    -fx-border-color: -binjr-control-border-color;
    -fx-border-width: 1;
    -fx-border-style: dotted;
}

.drop-zone:hover {
    -fx-background-color: -fx-accent-translucide;
}
.chart,
.chart-plot-background {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.console-pane > .list-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.console-pane > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 0px;
    /*-fx-effect: null;*/
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.worksheet-title-block  {
    -fx-padding: 15 10 15 16;
    -fx-border-insets: 5 10 10 10;
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #808080;
}

.worksheet-title-block  > .title-text {
    -fx-graphic-text-gap: 20;
    -fx-font-size: 14pt;
}

.worksheet-title-block  > .range-text {
    -fx-graphic-text-gap: 20;
    -fx-font-size: 10pt;
}

.editable-tab-tool-bar {
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}
