{
    -palette-color-0:  #D66300;
    -palette-color-1:  #70a91d;
    -palette-color-2:  #5555dd;
    -palette-color-3:  #DD5555;
    -palette-color-4:  #FF3737;
    -palette-color-5:  #bb44cc;
    -palette-color-6:  #22AA99;
    -palette-color-7:  #F54882;
    -palette-color-8:  #06800d;
    -palette-color-9:  #ee9911;
    -palette-color-10:  #4381bf;
    -palette-color-11:  #dddd00;
}

.pagination > .pagination-control .right-arrow,
.pagination > .pagination-control .left-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-scale-x: 3;
    -fx-scale-y: 3;
    -fx-scale-shape: false;
    -fx-position-shape: true;
    -fx-snap-to-pixel: true;
    -fx-shape: "m 61.796417,136.84737 q 0.03543,0.0354 0.03543,0.0815 0,0.0461 -0.03543,0.0815 l -1.651284,1.65128 q -0.03543,0.0354 -0.0815,0.0354 -0.04607,0 -0.0815,-0.0354 l -0.177176,-0.17717 q -0.03544,-0.0354 -0.03544,-0.0815 0,-0.0461 0.03544,-0.0815 l 1.392606,-1.3926 -1.392606,-1.39261 q -0.03544,-0.0354 -0.03544,-0.0815 0,-0.0461 0.03544,-0.0815 l 0.177176,-0.17718 q 0.03543,-0.0354 0.0815,-0.0354 0.04607,0 0.0815,0.0354 z";
    -fx-effect: null;
}

.pagination > .pagination-control .left-arrow {
    -fx-rotate: 180;
}

.suggest-popup .tree-cell:category {
    -fx-font-weight: bold ;
    -fx-font-size: 14;
    -fx-padding: 0.5em 0.25em 0.5em 0.25em ;
}

.suggest-popup .tree-cell:hover {
    -fx-background-color: derive(-fx-accent, 60%);
}

.command-bar .command-bar-pinned-item {
    -fx-content-display: graphic-only;
}

.command-bar:expanded .command-bar-pinned-item {
    -fx-content-display: left;
}

.command-bar .context-menu .icon-container {
    -fx-padding: 0 14 0 8;
}

.context-menu .icon-container {
    -fx-padding: 0 14 0 8;
}

.context-menu * {
    -icon-scale-x: 2.5;
    -icon-scale-y: 2.5;
}

.tool-bar {
    -fx-padding: 0;
    -fx-background-color: none;
}

.tool-bar-overflow-button {
    -fx-padding: 12, 0, 0, 0;
}

.selection-marker {
    -fx-background-color: transparent;
}

.selection-marker:selected {
    -fx-border-width: 0 0 0 4;
    -fx-border-color: -fx-accent;
}

.selection-marker:selected:hover,
.selection-marker:hover {
    -fx-background-color: -fx-accent-translucide;
}

.drop-zone {
    -fx-border-insets: 5;
    -fx-background-color: -binjr-pane-background-color;
    -fx-border-color: -binjr-control-border-color;
    -fx-border-width: 1;
    -fx-border-style: dotted;
}

.drop-zone:hover {
    -fx-background-color: -fx-accent-translucide;
}

.chart,
.bar-chart,
.chart-plot-background {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.console-pane > .list-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.console-pane > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 0px;
    /*-fx-effect: null;*/
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.worksheet-title-block {
    -fx-padding: 15 10 15 16;
    -fx-border-insets: 5 10 10 10;
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #808080;
}

.worksheet-title-block > .title-text {
    -fx-graphic-text-gap: 20;
    -fx-font-size: 14pt;
}

.worksheet-title-block > .range-text {
    -fx-graphic-text-gap: 20;
    -fx-font-size: 10pt;
}

.editable-tab-tool-bar {
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.skinnable-pane-border {
    -fx-background-insets: 0;
    -fx-padding: -1;
}

.series-table .titled-pane {
    -fx-animated: false;
}

.property-sheet {
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

.property-sheet .tool-bar {
    -fx-spacing: 5;
    -fx-padding: 7;
}

.crumb {
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-smooth: true;
    -fx-font-family: "Segoe UI Light", "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
}

.styled-text-area {
    -fx-font-size: 10pt;
}

.search-field-inner {
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.styled-text-area .search-result-highlight {
    -fx-fill: red;
    -rtfx-background-color: yellow;
}

.warning-label {
    -fx-font-size: 10pt;
}

.styled-text-area .syntax-help-text {
    -fx-font-size: 10pt;
}

.output-console {
    -fx-font-size: 9pt;
}

.styled-text-area .syntax-help-title {
    -fx-font-size: 14pt;
    /*-fx-font-weight: bold;*/
}

.styled-text-area .syntax-help-code {
    -fx-font-size: 10pt;
}

.styled-text-area .syntax-help-code {
    -fx-font-size: 10pt;
    -fx-padding: 0, 10, 0, 10;
    -fx-fill: white;
    -rtfx-background-color: #204656;
}

.syntax-help-popup .styled-text-area {
    -fx-background-color: transparent;
}

.styled-text-area .paragraph-text {
    -fx-padding: 0 4 2 2;
}

.para1 {
    -fx-background-color: #00FF0030;
}

.para2 {
    -fx-background-color: #0000FF30;
}

.default-color0.chart-bar {
    -fx-bar-fill: #336F87;
/*4babc5*/

}

.styled-text-area .complete-log {
    -rtfx-background-color: #80808030;
}

.styled-text-area .capture-group {
    -fx-font-weight: bold;
    /*-rtfx-background-color: GRAY;*/
}

.styled-text-area .capture-group-0 {
    -fx-fill: -palette-color-0;
}

.styled-text-area .capture-group-1 {
    -fx-fill: -palette-color-1;
}

.styled-text-area .capture-group-2 {

    -fx-fill: -palette-color-2;
}

.styled-text-area .capture-group-3 {
    -fx-fill: -palette-color-3;
}

.styled-text-area .capture-group-4 {
    -fx-fill: -palette-color-4;
}

.styled-text-area .capture-group-5 {
    -fx-fill: -palette-color-5;
}

.styled-text-area .capture-group-6 {
    -fx-fill: -palette-color-6;
}

.styled-text-area .capture-group-7 {
    -fx-fill: -palette-color-7;
}

.styled-text-area .capture-group-8 {
    -fx-fill: -palette-color-8;
}

.styled-text-area .capture-group-9 {
    -fx-fill: -palette-color-9;
}

.styled-text-area .capture-group-10 {
    -fx-fill: -palette-color-10;
}

.styled-text-area .capture-group-11 {
    -fx-fill: -palette-color-11;
}

.notification-info {
    -fx-text-fill: #019901;
    -fx-background-color: #00FF0030;
    -fx-border-color: #019901;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.notification-warn {
    -fx-text-fill: #998001;
    -fx-background-color: #FF800030;
    -fx-border-color: #998001;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.notification-error {
    -fx-text-fill: #990101;
    -fx-background-color: #FF000030;
    -fx-border-color: #990101;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}


