.command-bar .command-bar-pinned-item {
    -fx-content-display: graphic-only;
}

.command-bar:expanded .command-bar-pinned-item {
    -fx-content-display: left;
}

.command-bar .context-menu .icon-container {
    -fx-padding: 0 14 0 8;
}

.context-menu .icon-container {
    -fx-padding: 0 14 0 8;
}

.context-menu * {
    -icon-scale-x: 2.5;
    -icon-scale-y: 2.5;
}

.tool-bar{
    -fx-padding: 0;
    -fx-background-color:  none;
}

.tool-bar-overflow-button {
    -fx-padding: 12,0,0,0;
}