.root{
    -fx-font-family: "Segoe UI"
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-family: "Segoe UI Semibold";
}

.worksheet-title-block,
.command-bar .pane-title,
.toolPane .pane-title,
.about-text,
.about .titled-pane > .title {
    -fx-font-family: "Segoe UI Light";
}

.styled-text-area .text,
.log-trace,
.log-debug,
.log-perf,
.log-info,
.log-warn,
.log-error,
.log-fatal {
    -fx-font-family: "Consolas";
}

.styled-text-area .syntax-help-text {
    -fx-font-family: "Segoe UI Light";
}

.styled-text-area .syntax-help-title {
    -fx-font-family: "Segoe UI";
}

.styled-text-area .syntax-help-code {
    -fx-font-family: "Consolas";
}


