Package: binjr
Version: APPLICATION_VERSION-APPLICATION_RELEASE
Section: Utility
Maintainer: Frederic Thevenet <binjr@free.fr>
Priority: optional
Architecture: amd64
Provides: binjr
Homepage: https://binjr.eu
Description: A Time Series Data Browser
 binjr is a standalone time series browser. 
 it renders time series data produced by other 
 applications as dynamically editable charts 
 and provides advanced features to navigate 
 the data smoothly and efficiently.
Depends: libasound2, libatk-bridge2.0-0, libatk1.0-0, libatspi2.0-0, libblkid1, libbsd0, libc6, libcairo-gobject2, libcairo2, libdatrie1, libdbus-1-3, libepoxy0, libexpat1, libffi7, libfontconfig1, libfreetype6, libfribidi0, libgcrypt20, libgdk-pixbuf2.0-0, libgl1, libglib2.0-0, libglvnd0, libglx0, libgpg-error0, libgraphite2-3, libgtk-3-0, libgtk2.0-0, libharfbuzz0b, liblz4-1, liblzma5, libmount1, libpango-1.0-0, libpangocairo-1.0-0, libpangoft2-1.0-0, libpcre2-8-0, libpcre3, libpixman-1-0, libpng16-16, libselinux1, libsystemd0, libthai0, libuuid1, libwayland-client0, libwayland-cursor0, libwayland-egl1, libx11-6, libxau6, libxcb-render0, libxcb-shm0, libxcb1, libxcomposite1, libxcursor1, libxdamage1, libxdmcp6, libxext6, libxfixes3, libxi6, libxinerama1, libxkbcommon0, libxrandr2, libxrender1, libxtst6, xdg-utils, zlib1g 
Installed-Size: 86400

