{
    -binjr-background-color: #204656;
    -binjr-dark-blue-color: #336F87;
    -binjr-blue-color: #4BACC6;
    -binjr-light-blue-color: #92CDDC;
    -binjr-lighter-blue-color: #B7DEE8;
    -binjr-foreground-color: #DAEEF3;
}

.content,
.web-view,
.titled-pane,
.title,
.web-view,
.table-row-cell,
.root {
    -fx-background-color: -binjr-foreground-color;
}
/*
.table-row-cell:odd{
    -fx-background-color: -binjr-lighter-blue-color;
}*/

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected,
.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused {
    -fx-background-color: -binjr-blue-color;
    -fx-text-fill: white;
}

.arrow {
    -fx-background-color: -binjr-background-color;
}

.button,
.about-text{
    -fx-text-fill: -binjr-dark-blue-color;
    -fx-font-family:"Segoe UI Light", "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}

.titled-pane {
    -fx-border-size:0;
    -fx-text-fill:-binjr-background-color;
    -fx-font-family:"Segoe UI Light", "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
}

.web-view,
.table-view,
.cell,
.content {
    -fx-border-size:0;
    -fx-text-fill:-binjr-background-color;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-font-weight:normal;
  }

/*******************************************************************************
  *                                                                             *
  * ScrollBar                                                                   *
  *                                                                             *
  ******************************************************************************/

 .scroll-bar > .thumb{
     -fx-background-color: -binjr-lighter-blue-color;
     -fx-background-insets: 0;
     -fx-background-radius: 0;
 }

/*
.scroll-bar .thumb:hover {
     -fx-background-color: -binjr-blue-color;
}

 .scroll-bar > .thumb:pressed {
     -fx-background-color: -binjr-background-color;
 }
*/
 .scroll-bar > .track {
     -fx-background-color: -binjr-foreground-color;
     -fx-background-insets: 0;
     -fx-background-radius: 0;
     -fx-border-size:0;
 }
 .scroll-bar > .track-background {
     -fx-background-color: -binjr-foreground-color;
     -fx-background-insets: 0;
 }

 .scroll-bar > .increment-button,
 .scroll-bar > .decrement-button {
     -fx-background-color: -binjr-foreground-color;
     -fx-background-insets: 0;
     -fx-background-radius: 0;

     -fx-padding: 0.25em;
 }
/*
 .scroll-bar > .increment-button:hover,
 .scroll-bar > .decrement-button:hover  {
     -fx-background-color: -binjr-foreground-color;
 }

.web-view  .scroll-bar .increment-button:pressed,
 .scroll-bar > .increment-button:pressed,
 .scroll-bar > .decrement-button:pressed {
     -fx-background-color: -binjr-blue-color;
 }*/

 .scroll-bar > .decrement-button > .decrement-arrow,
 .scroll-bar > .increment-button > .increment-arrow{
     -fx-background-insets: 1 0 -1 0, 0;
     -fx-background-color: transparent, -binjr-background-color;
     -fx-effect: null;
 }
/*
 .scroll-bar > .decrement-button:pressed > .decrement-arrow,
 .scroll-bar > .increment-button:pressed > .increment-arrow {
     -fx-background-color: transparent, white;
     -fx-effect: null;
 }*/

 .scroll-bar:vertical > .increment-button > .increment-arrow,
 .scroll-bar:vertical > .decrement-button > .decrement-arrow {
     -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
 }

 .scroll-bar:horizontal > .increment-button > .increment-arrow,
 .scroll-bar:horizontal > .decrement-button > .decrement-arrow {
     -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
 }


.scroll-bar * {
    -fx-padding:1;
}

 .scroll-bar:disabled {
     -fx-opacity: 0.4;
 }

 .button{
    -fx-text-fill: white;
    -fx-background-color: -binjr-blue-color;
    -fx-border-color: -binjr-blue-color;
    -fx-border-width:2;
    -fx-border-radius:0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
 }

.button:hover{
     -fx-border-color:  -binjr-background-color;
 }

.button:pressed,
.button:default:hover:pressed {
     -fx-background-color:-binjr-background-color;
    -fx-border-color: -binjr-background-color;
     -fx-text-fill: white;
 }

.skinnable-pane-border * {
    -fx-border-color: red;
    -fx-border-width:0;
}


.hyperlink:focused {
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}


