.button {
      -fx-color-label-visible: false;
      -fx-background-color: transparent;
      -fx-background-radius: 0;
      -fx-background-insets: 0;
      -fx-border-color: red;
      -fx-border-width:0;
      -fx-border-radius:0;
      -fx-alignment: center;
}


/*
.button {
        -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-border-width:0;
       -fx-border-radius:0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color: #d8d8d8;
}
/*
.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.button:default {
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #219297;
}
*/

/*******************************************************************************
 *                                                                             *
 * Toggle Button                                                               *
 *                                                                             *
 ******************************************************************************/
/*
.toggle-button {
    -fx-padding: 5 22 5 22;
    -fx-border-style: null;
    -fx-background-radius: 0;

    -fx-background-color: #cccccc;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;

    -fx-border-color: transparent;
    -fx-border-width: 2;
}

.toggle-button:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.toggle-button:hover {
    -fx-background-color: #d8d8d8;
    -fx-text-fill: black;
}

.toggle-button:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.toggle-button:selected:hover {
    -fx-background-color: #666;
    -fx-text-fill: white;
}

.toggle-button:disabled {
    -fx-opacity: 0.4;
}
*/