{
    -binjr-background-color: #204656;
    -binjr-dark-blue-color: #336F87;
    -binjr-blue-color: #4BACC6;
    -binjr-light-blue-color: #92CDDC;
    -binjr-lighter-blue-color: #B7DEE8;
    -binjr-foreground-color: #DAEEF3;
}

/********************************
*      button icons
********************************/
{
    -icon-scale-x: 3;
    -icon-scale-y: 3;
    -icon-color:black;
}

.command-bar *{
    -icon-scale-x: 2.5;
    -icon-scale-y: 2.5;
    -icon-color: black;
}

.command-bar .context-menu * {
  -icon-scale-x: 2.5;
  -icon-scale-y: 2.5;
}

.context-menu .icon-container {
  -fx-padding: 0 14 0 8;
}

 .menu-button .arrow-button {
    -fx-padding:-2;
     visibility: hidden;
 }
.add-tab-button {
    -size:20;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-content-display: graphic-only;
    -fx-padding:5;
}

.command-bar-menu-graphic {
    -fx-padding:2;
}

.command-bar-menu-graphic Line {
    -fx-stroke:black;
}

.chart-properties-button {
     -fx-opacity: 50%;
      -fx-scale-x: 0.75;
      -fx-scale-y: 0.75;
}

.chart-properties-button:hover {
     -fx-opacity: 100%;
}

.chart-properties-button:hover:pressed {
     -fx-opacity: 100%;
}

.toolPane {
  -fx-background-color: linear-gradient(to right, #EEEEEE  , #DADADA );
/*  -fx-border-width:1;
  -fx-border-color:#DADADA;*/
}

.toolPane .content,
.toolPane .title,
.toolPane .scroll-pane,
.toolPane .scroll-pane .viewport {
    -fx-background-color: transparent;
  }

/*
.add-source-background-icon,
.add-worksheet-background-icon{
   -fx-text-fill:  #DADADA;
}

.add-source-background-icon SVGPath,
.add-worksheet-background-icon SVGPath{
   -fx-fill:  #DADADA;
}

.add-source-background-icon:hover,
.add-worksheet-background-icon:hover{
   -fx-text-fill:  #C2C2C2;
}

.add-source-background-icon:hover SVGPath,
.add-worksheet-background-icon:hover SVGPath {
   -fx-fill:  #969696;
}*/

 .add-source-background-icon,
 .add-worksheet-background-icon{
    -fx-text-fill:  #DADADA;
 }


 .add-source-background-icon:hover,
 .add-worksheet-background-icon:hover{
    -fx-text-fill:  #C2C2C2;
 }

 .add-worksheet-background-icon .addWorksheet-icon,
 .add-source-background-icon .addSource-icon {
  -fx-scale-x:20;
  -fx-scale-y:20;
  -fx-background-color:#DADADA;
}

 .add-worksheet-background-icon .addWorksheet-icon:hover,
 .add-source-background-icon .addSource-icon:hover,
 .add-worksheet-background-icon .addWorksheet-icon:hover:pressed,
 .add-source-background-icon .addSource-icon:hover:pressed {
  -fx-background-color:#969696;
}

  /*******************
    Command bar
 *******************/

.command-bar {
 /*  -fx-pref-width: 48;
   -fx-min-width: 48;*/
    -fx-padding:5;
    -fx-background-color: linear-gradient(to right, #EEEEEE  , #DADADA );/* #F4F4F4;*/
/*
    -fx-border-width:1;
    -fx-border-color: #C2C2C2;*/
}

.command-bar:expanded {
/*  -fx-min-width: 160;
 /*  -fx-pref-width: 200;
   -fx-max-width: 200;*/
}


 .command-bar .menu-button .arrow-button {
    -fx-padding:-2;
     visibility: hidden;
 }

 .command-bar .command-bar-menu-button .menu-icon{
    -fx-fill:red;
    -fx-scale-x: 3;
    -fx-scale-y: 3.5;
 }

 .command-bar:expanded .menu-button .arrow-button {
    -fx-padding:10;
    -fx-fill: white;
     visibility: visible;
 }

 .command-bar:expanded .menu-button .arrow-button .arrow {
    -fx-background-color:black;
 }

 .command-bar:expanded .menu-button .label,
 .command-bar:expanded .button {
    -fx-margins:5;
    -fx-content-display:left;
 }

 .command-bar .menu-button .label,
 .command-bar .button {
    -fx-alignment: center_left;
    -fx-graphic-text-gap:15;
    -fx-text-fill:black;
 }

  .command-bar .square-button {
     -fx-alignment: center;
   }

 .command-bar .menu-item {
      -fx-padding: 10 10 10 17 ;
  }

.command-bar .hyperlink {
    -fx-alignment: center_left;
    -fx-graphic-text-gap:20;
    -fx-text-fill: -binjr-blue-color;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
}

/*** Color picker ***/

.borderless-color-picker {
    -fx-color-label-visible: false;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width:0;
    -fx-border-radius:0;
    -fx-alignment: center;
}

.borderless-color-picker .label {
    -fx-padding: 0;
}

.borderless-color-picker .label .rectangle {
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-alignment: center;
}
 .chart,
 .chart-plot-background{
    -fx-background-color: transparent;
    -fx-border-width:0;
   /*  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;*/
   /*    -fx-font-size: 10pt;*/
 }

  .chart-viewport-parent {
   -fx-background-color: white;
  }

  .worksheet-tool-bar{
       -fx-padding:5;
  }

  /*******************************************************************************
   *                                                                             *
   * MaskerPane                                                                  *
   *                                                                             *
   ******************************************************************************/
   .masker-pane {}

   .masker-pane .masker-glass {
      /* -fx-background-color: rgba(0, 0, 0, .3);*/
       -fx-background-color: rgba(255, 255, 255, .6);
      /* -fx-background-color: transparent;*/
   }

   .masker-pane .masker-text {
      -visibility:false;
       -fx-text-fill: white;
       -fx-font-weight: bold;
   }

   .masker-pane .masker-center {
       -fx-background-color:transparent;
      /*  -fx-background-color: rgba(255, 255, 255, .6);
     /*  -fx-background-color: rgba(0, 0, 0, .6);*/

       -fx-max-height: 1.50in;
       -fx-padding: .25in;
       -fx-background-radius: .1in;
   }

.crosshair-axis-label {
    -fx-text-fill: white;
    -fx-font-size: 10;
    -fx-background-radius: 4;
    -fx-padding:4;
    -fx-background-color: rgba(10,10,10,0.7);
}