
.command-bar {
   -fx-background-color: #204C56;
   -fx-pref-width: 48;
   -fx-min-width: 48;
}

.command-bar:expanded {
  -fx-min-width: 200;
 /*  -fx-pref-width: 200;
   -fx-max-width: 200;*/
}

.button,
.toggle-button,
.menu-button{
   /* -fx-color-label-visible: false;*/
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: #737373;
    -fx-border-width:0;
    -fx-border-radius:0;
    -fx-alignment: center;

}

.button:hover,
.toggle-button:hover,
.menu-button:hover {
    -fx-background-color:#4BACC6;
}

.button:pressed,
.button:default:hover:pressed,
.menu-button:pressed,
.menu-button:default:hover:pressed {
  -fx-background-color:#C2C2C2 ;
  -fx-text-fill: white;
}

.toggle-button:pressed,
.toggle-button:default:hover:pressed,
 .toggle-button:selected:hover:pressed {
  -fx-background-color:#969696 ;
  -fx-text-fill: white;
}

.toggle-button:selected,
.menu-button:selected {
    -fx-background-color: #C2C2C2;
    -fx-text-fill: white;
}

.toggle-button:selected:hover,
.menu-button:selected:hover {
    -fx-background-color: #C2C2C2;
    -fx-border-color:#737373;
    -fx-border-width:1;
    -fx-text-fill: white;
}

 .menu-button .arrow-button {
    -fx-padding:-2;
     visibility: hidden;
 }



.button SVGPath,
.menu-button SVGPath{
    -fx-fill:  white;
    -fx-scale-x: 3;
    -fx-scale-y: 3;
}

 .command-bar:expanded .menu-button .arrow-button {
    -fx-padding:10;
    -fx-fill: white;
     visibility: visible;
 }
 .command-bar:expanded .menu-button .arrow-button .arrow {
    -fx-background-color:white;
 }

 .command-bar:expanded  .menu-button .label,
 .command-bar:expanded .button {
    -fx-margins:5;
    -fx-content-display:left;
 }

  .command-bar .menu-button .label,
  .command-bar .button {
    -fx-alignment: center_left;
    -fx-graphic-text-gap:20;
    -fx-text-fill:white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;

    -fx-padding: 0 0 0 21;
  }

    .command-bar .menu-button .label,
  .command-bar .button {
    /*  -fx-content-display:graphic_only;*/
  }

 /*******************************************************************************
  *                                                                             *
  * Context Menu                                                                *
  *                                                                             *
  ******************************************************************************/

 .context-menu {
     -fx-background-color: #204C56;
     -fx-text-fill:white;
     -fx-border-color: white;
     -fx-border-style: solid;
       -fx-content-display:left;
 }
/*
 .context-menu .separator {
     -fx-padding: 0.58333275em 1.333332em 0.58333275em 1.333332em;
 }
*/

 .menu-item {

     -fx-padding: 10 10 10 17 ;
 }



 .menu-item:focused {
   -fx-content-display:left;
      -fx-background: -fx-accent;
      -fx-background-color: #4BACC6;
 }

 .menu-item:pressed
 {
     -fx-background-color: #212121;
     /*-fx-text-fill: white;*/
 }
/*
 .menu-item:pressed .label {
     -fx-text-fill: white;
 }

*/
