.color-picker {
     -fx-color-label-visible: false;
     -fx-background-color: transparent;
     -fx-background-radius: 0;
     -fx-background-insets: 0;
     -fx-border-color: red;
     -fx-border-width:0;
     -fx-border-radius:0;
     -fx-alignment: center;
 }

 .color-picker .label {
     -fx-padding: 0;
 }

 .color-picker .label .rectangle {
     -fx-padding: 0;
     -fx-border-insets: 0;
     -fx-alignment: center;
 }